{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0",
    "title": "Setster Scheduling API",
    "contact": {"email": "info@setster.com", "name": ""},
    "description": "The Setster API is used to control your account’s data programmatically. The API is organized around REST  and standard HTTP verbs. A consistent envelope is used for all responses alongside response codes to indicate the status of the message and any error codes. JSON is returned on all our API responses with a consistent structure for all messages.\n\nIn order to use the Setster API you will need the API key that you can find within your Setster account and note you should never expose your  API key in any public website's client-side code. The Setster API works on HTTPS only.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"
  },
  "servers": [
    {
      "url": "https://www.setster.com/api/v2"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": ""
    },
    {
      "name": "Appointment",
      "description": ""
    },
    {
      "name": "Availability",
      "description": ""
    },
    {
      "name": "Client",
      "description": ""
    },
    {
      "name": "Custom Field",
      "description": ""
    },
    {
      "name": "Employee",
      "description": ""
    },
    {
      "name": "Location",
      "description": ""
    },
    {
      "name": "Service",
      "description": ""
    },
    {
      "name": "Time Zone",
      "description": ""
    },
    {
      "name": "WebHooks",
      "description": ""
    },
    {
      "name": "Steps",
      "description": "",
      "externalDocs": {
        "description": "testing external docs",
        "url": "https://www.setster.com/api/docs"}     
    }
  ],
  "x-tagGroups": [
    {
      "name": "API",
      "tags": [
        "Account",
        "Appointment",
        "Availability",
        "Client",
        "Custom Field",
        "Employee",
        "Location",
        "Service",
        "Time Zone",
        "WebHooks"
      ]
    },
    {
      "name": "Widget",
      "tags": [
        "Steps"
      ]
    }
  ],
  "paths": {
    "/account/authenticate": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Authenticate",
        "operationId": "AccountAuthenticate",
        "description": "The first step to using the Setster API is to authenticate to an account. Authenticate your account by including your key and email in an API request. In the returned response, the session_token should be used for all future API calls. Please note the session_token expires within 24 hours at which you need to re-authenticate and retrieve another session_token to keep the connection open.",
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "description": "Account owner email address",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "in": "query",
            "name": "password",
            "description": "Account owner password",
            "schema": {
              "type": "string",
              "format": "password"
            }
          },
          {
            "in": "query",
            "name": "token",
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "user": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 2343
                                },
                                "company_id": {
                                  "type": "integer",
                                  "example": 2423
                                },
                                "account_type": {
                                  "type": "integer",
                                  "example": 4
                                },
                                "enable_locations": {
                                  "type": "boolean"
                                },
                                "intuit_user_id": {
                                  "type": "integer",
                                  "example": null
                                },
                                "nick_name": {
                                  "type": "string",
                                  "example": "demo-api"
                                },
                                "is_owner": {
                                  "type": "boolean"
                                },
                                "enabled": {
                                  "type": "boolean"
                                }
                              }
                            },
                            "session_token": {
                              "type": "string",
                              "example": "bl0l9e0g9t1lvul5fg635jre32"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Account is not active or Incorrect API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 3
                    },
                    "statusDescriptions": {
                      "type": "string",
                      "example": "Account is not active"
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account info",
        "description": "Retrieves account details",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Account"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create new account/sub-account",
        "description": "Creates an account or child account",
        "security": [
          {
            "session_token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Account"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/companies": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List sub-accounts",
        "description": "Retrieves child accounts of parent account.",
        "security": [
          {
            "session_token": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "company_id": {
                                "type": "integer",
                                "example": "655"
                              },
                              "company_name": {
                                "type": "string",
                                "example": "Apple Company"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/saveBussinessInfo": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Save business info",
        "description": "Edits business details for an account.",
        "security": [
          {
            "session_token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AccountBusinessInfo"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AccountBusinessInfo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Account"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/getAccountInfo": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account info",
        "description": "Retrieves account details.",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Account"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "holidays": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "business_hours": {
                                  "type": "string"
                                },
                                "company_business_hours": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/saveOptions": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Save options",
        "description": "Edits account booking options.",
        "security": [
          {
            "session_token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AccountOptions"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AccountOptions"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AccountOptions"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/getOptions": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get options",
        "description": "Retrieves account booking options.",
        "parameters": [
          {
            "name": "company_id",
            "schema": {
              "type": "integer"
            },
            "in": "query"
          }
        ],
        "security": [
          {
            "session_token": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AccountOptions"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/savePersonalInfo": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Save personal info",
        "description": "Edits personal details.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AccountPersonalInfo"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/AccountPersonalInfo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Account"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/getPersonalInfo": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get personal info",
        "description": "Retrieves personal details.",
        "security": [
          {
            "session_token": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "phone": {
                                "type": "string",
                                "example": "07563463575"
                              },
                              "first_name": {
                                "type": "string",
                                "example": "John"
                              },
                              "last_name": {
                                "type": "string",
                                "example": "Doe"
                              },
                              "permissions": {
                                "type": "string",
                                "example": "availability,appointments,get_widget,promote"
                              },
                              "authority": {
                                "type": "string",
                                "example": "ROLE_NORMA"
                              },
                              "is_owner": {
                                "type": "boolean",
                                "example": 0
                              },
                              "status": {
                                "type": "integer",
                                "example": 0
                              },
                              "currency": {
                                "type": "string",
                                "example": "USD"
                              },
                              "can_login": {
                                "type": "boolean",
                                "example": 1
                              },
                              "used_licenses": {
                                "type": "integer",
                                "example": 5
                              },
                              "locations": {
                                "type": "integer",
                                "example": 3
                              },
                              "employees": {
                                "type": "integer",
                                "example": 5
                              },
                              "company_id": {
                                "type": "integer",
                                "example": 423
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/uploadLogo": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Upload logo",
        "description": "Adds or edits account logo.",
        "security": [
          {
            "session_token": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "logo": {
                    "type": "file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "upload_id": {
                              "type": "integer"
                            },
                            "file_name": {
                              "type": "string"
                            },
                            "file_location": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/uploadSplash": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Upload splash",
        "description": "Adds or edits splash image.",
        "security": [
          {
            "session_token": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "splash": {
                    "type": "file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "upload_id": {
                              "type": "integer"
                            },
                            "file_name": {
                              "type": "string"
                            },
                            "file_location": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/registerPayment": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Register payment",
        "security": [
          {
            "session_token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "period": {
                        "type": "string"
                      },
                      "ccType": {
                        "type": "string"
                      },
                      "ccNo": {
                        "type": "string"
                      },
                      "ccName": {
                        "type": "string"
                      },
                      "ccMonth": {
                        "type": "string"
                      },
                      "ccYear": {
                        "type": "string"
                      },
                      "ccCVV2": {
                        "type": "string"
                      },
                      "additional_services": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "service1"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "result": {
                              "type": "boolean"
                            },
                            "description": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/registerCustomerPayment": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Register customer payment",
        "security": [
          {
            "session_token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "service_payment_gateway": {
                        "type": "string"
                      },
                      "paypal_email": {
                        "type": "string"
                      },
                      "currency": {
                        "type": "string"
                      },
                      "stripe_authorization_code": {
                        "type": "string"
                      },
                      "stripe_access_token": {
                        "type": "string"
                      },
                      "analytics_account_id": {
                        "type": "string"
                      },
                      "invoice_service_type": {
                        "type": "string"
                      },
                      "fb_api_url": {
                        "type": "string"
                      },
                      "fb_api_token": {
                        "type": "string"
                      },
                      "capture_leads": {
                        "type": "string"
                      },
                      "cl_oid": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "result": {
                              "type": "boolean"
                            },
                            "description": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/getAccountData": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account data",
        "description": "Retrieve account info.",
        "security": [
          {
            "session_token": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "service_payment_gateway": {
                              "type": "integer"
                            },
                            "paypal_email": {
                              "type": "string",
                              "format": "email"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "api_token": {
                              "type": "string"
                            },
                            "analytics_account_id": {
                              "type": "integer"
                            },
                            "invoice_service_type": {
                              "type": "integer"
                            },
                            "capture_leads": {
                              "type": "boolean"
                            },
                            "fb_api_url": {
                              "type": "string"
                            },
                            "fb_api_token": {
                              "type": "string"
                            },
                            "cl_oid": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/getStripe": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Stripe",
        "security": [
          {
            "session_token": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "stripePublishableKey": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/getPaypal": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get PayPal email",
        "security": [
          {
            "session_token": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "paypal_email": {
                              "type": "string",
                              "format": "email"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/getWidgetCode": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get widget code",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "company_id",
            "schema": {
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "overlay_option",
            "schema": {
              "type": "string",
              "default": "overlay"
            },
            "in": "query"
          },
          {
            "name": "position",
            "schema": {
              "type": "string",
              "default": "right"
            },
            "in": "query"
          },
          {
            "name": "button_name",
            "schema": {
              "type": "string",
              "default": "Appointment"
            },
            "in": "query"
          },
          {
            "name": "button_color",
            "schema": {
              "type": "string",
              "default": "ff0000"
            },
            "in": "query"
          },
          {
            "name": "defaultService",
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "in": "query"
          },
          {
            "name": "defaultProvider",
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "in": "query"
          },
          {
            "name": "defaultLocation",
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "in": "query"
          },
          {
            "name": "returnUrl",
            "schema": {
              "format": "url",
              "type": "string"
            },
            "allowEmptyValue": true,
            "in": "query"
          },
          {
            "name": "locations_map",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "example": 0,
            "in": "query"
          },
          {
            "name": "no_code",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "example": 0,
            "in": "query"
          },
          {
            "name": "send_to",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "html": {
                              "type": "string",
                              "format": "html",
                              "example": "<!-- Begin Setster Widget -->\\n<script type=\\\"text/javascript\\\"\ncharset=\\\"utf-8\\\">\\n  var is_ssl = (\\\"https:\\\" == document.location.protocol);\\n\n  var setsHost = is_ssl ? \\\"https://www.setster.com/widget/\\\" :\n  \\\"https://www.setster.com/widget/\\\";\\n  document.write(unescape(\\\"%3Cscript\n  src='\\\" + setsHost + \\\"js/setster_over.js?v=2'\n  type='text/javascript'%3E%3C/script%3E\\\"));\\n</script>\\n\\n\n  <script type=\\\"text/javascript\\\" charset=\\\"utf-8\\\">\\n\n  var setster_widget_options = {};\\n\\n  setster_widget_options.display =\n  \\\"overlay\\\";  \\n  setster_widget_options.uri = \\\"boxadoro\\\";\\n\n  setster_widget_options.placement = \\\"right\\\";  \\n\n  setster_widget_options.buttonName = \\\"Appointment\\\";  \\n\n  setster_widget_options.setsterURL = setsHost; \\n   var setster_widget =\n  new Setster.setster_widget(setster_widget_options);\\n</script>\\n\n  <!-- End Setster Widget -->\\n\"\n"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/request_password_reset": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Request password reset",
        "description": "Initiates a password reset process. In order to reset the password a pre request must be made.",
        "parameters": [
          {
            "name": "email",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "example": "email@company.com",
            "required": true,
            "in": "query"
          },
          {
            "name": "confirmation_url",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "required": true,
            "in": "query",
            "example": "www.test_confirmation_url.com",
            "description": "The base url used to generate the confirmation link in the email message that is sent to the client. Confirmation link = confirmation_url + '?email={userEmail}&hash_code={hashCode}'"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Status of the operation",
                      "example": 0
                    },
                    "statusDescriptions": {
                      "type": "string",
                      "example": "Confirmation email sent",
                      "description": "Description of the status"
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/logout": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Logout",
        "security": [
          {
            "session_token": []
          }
        ],
        "responses": {
          "301": {
            "description": "Logout successful"
          }
        }
      }
    },
    "/account/reset_password": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Change account credentials",
        "description": "Modifies the account password using the valid hash_code that was used when initiating the password reset process.",
        "parameters": [
          {
            "name": "email",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "required": true,
            "in": "query",
            "example": "email@company.com"
          },
          {
            "name": "hash_code",
            "schema": {
              "type": "string"
            },
            "required": true,
            "in": "query",
            "example": "test_hash_code"
          },
          {
            "name": "new_password",
            "schema": {
              "type": "string",
              "format": "password"
            },
            "required": true,
            "in": "query",
            "example": "test_new_password"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Status of the operation",
                      "example": 0
                    },
                    "statusDescriptions": {
                      "type": "string",
                      "example": "Password changed",
                      "description": "Description of the status"
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/checknickname/{nickname}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Check nickname availability",
        "description": "Check nickname availability",
        "parameters": [
          {
            "name": "nickname",
            "in": "path",
            "required": true,
            "example": "johndoe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Status of the operation",
                      "example": 0
                    },
                    "statusDescriptions": {
                      "type": "string",
                      "example": "nick_name already exists",
                      "description": "Description of the status"
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/checkemail/{email}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Check email availability",
        "description": "Check email availability",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "example": "test@example.com",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Status of the operation",
                      "example": 0
                    },
                    "statusDescriptions": {
                      "type": "string",
                      "example": "nick_name already exists",
                      "description": "Description of the status"
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/location": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "List locations",
        "description": "Using this endpoint you can retrieve the attributes of all your locations",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Location ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zip",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "website",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paypal_email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timezone_id",
            "in": "query",
            "description": "The timezone id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "virtual",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tmp_default",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "has_links",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_links",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Location"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Create location",
        "description": "Using this endpoint you can create a new location within the account",
        "security": [
          {
            "session_token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Location"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/location/{id}": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Get a location",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Location id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Location"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Location"
        ],
        "summary": "Modify location",
        "description": "Using this endpoint you can change the attributes of a location within the account",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Location id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Location"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Location"
        ],
        "summary": "Delete a location",
        "description": "Using this endpoint you can delete a location within the account",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Location id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "nullable": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/location/assignServices": {
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Assign all services and employees to a location",
        "description": "Using this endpoint you can assign services and employees to a location",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "description": "Location id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "example": {
                      "45634": [
                        232,
                        34534
                      ]
                    },
                    "description": "The following format is used:\n`{ PROVIDER_ID: [ SERVICE_1, SERVICE_2, ...]}`\nTo assign services to all providers at a location use:\n`{0: [SERVICE_1, SERVICE_2, ...]}`\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": null
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/location/uploadPhoto": {
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Upload location photo",
        "description": "Using this endpoint you can add/update the location photo",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "description": "Location id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "photo": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "photo": {
                  "contentType": "image/png, image/jpeg"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/UploadedFile"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/location/removePhoto": {
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Remove location photo",
        "description": "Using this endpoint you can remove the location photo",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "description": "Location id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "file_name"
                    ],
                    "properties": {
                      "file_name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": null
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/location/updateOrder": {
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Update order number",
        "description": "Change the order in the list of locations",
        "security": [
          {
            "session_token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "id",
                        "ord"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 27864,
                          "description": "Location id"
                        },
                        "ord": {
                          "type": "integer",
                          "example": 3,
                          "description": "The order number in the list"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": null
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/employee": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "List employees",
        "description": "Retrieve the attributes of all your service providers",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Employee id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "By default only active employees are returned. This filter allows to return all the employees, including the inactive ones",
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "include_links",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bio",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "photo_url",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public_email",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "public_phone",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "receivesms",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sms_email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intuit_user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipp_mode",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "intuit_auth_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intuit_realm_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intuit_ticket_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newsletter",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_owner",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ics_service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ics_export_service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ics_url",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ics_export_hash",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "google_export_canceled",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "google_export_add_pt",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nickname",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkedin",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "yelp",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "pinterest",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "vimeo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "youtube",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "twitter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "facebook",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Employee"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create employee",
        "description": "Using this endpoint you can create a new service provider within the account",
        "security": [
          {
            "session_token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Employee"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Employee"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Employee"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/employee/{id}": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get an employee",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Employee id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Employee"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Modify employee",
        "description": "Using this endpoint you can change the attributes of a location within the account",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Employee id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Employee"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Employee"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Employee"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee"
        ],
        "summary": "Delete employee",
        "description": "Using this endpoint you can delete a service provider within the account.",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Employee id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "nullable": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/employee/{id}/assignAvailability": {
      "put": {
        "tags": [
          "Employee"
        ],
        "summary": "Update availability",
        "description": "Using this endpoint you can change the availability of a service provider within the account.",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Employee id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "company_id",
            "in": "body",
            "required": true,
            "description": "Company id",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1234
          },
          {
            "name": "availabilities",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/components/schemas/EmployeeAvailability"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "nullable": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/employee/assignServices": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Assign all services and locations to an employee",
        "description": "Using this endpoint you can assign services and locations to an employee",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "employee_id",
            "in": "query",
            "description": "Employee id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "example": {
                      "45634": [
                        232,
                        34534
                      ]
                    },
                    "description": "The following format is used:\n`{ LOCATION_ID: [ SERVICE_1, SERVICE_2, ...]}`\nTo assign services to all locations for an employee:\n`{0: [SERVICE_1, SERVICE_2, ...]}`\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": null
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/employee/sync/{id}": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Synchronize employee",
        "description": "Using this endpoint you can synchronize a service provider with externals calendars.",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Employee id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "export",
            "in": "query",
            "description": "If not present default action is the import",
            "schema": {
              "type": "boolean",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Status of the operation",
                      "example": 0
                    },
                    "statusDescriptions": {
                      "type": "string",
                      "example": "SYNCED",
                      "description": "Description of the status"
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employee/getAvailabilityTime/{id}": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get availability time",
        "description": "Retrieves availability for an employee / service provider.",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Employee id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "required": false,
            "description": "Company id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "availabilities": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/EmployeeAvailability"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/employee/getAvailabilityTime": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get availability time",
        "description": "Retrieves availability for an employee / service provider.",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "employee_id",
            "in": "query",
            "required": true,
            "description": "Employee id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "required": false,
            "description": "Company id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "availabilities": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/EmployeeAvailability"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/employee/getAvailability": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Get availability",
        "description": "Retrieves availability for an employee / service provider.",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "employee_id",
            "in": "query",
            "required": true,
            "description": "Employee id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "location_id",
            "in": "query",
            "required": true,
            "description": "Location id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start Date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End Date",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "start_date": {
                              "type": "string",
                              "example": "2018-09-01 12:12:12"
                            },
                            "end_date": {
                              "type": "string",
                              "example": "2018-09-03 12:12:12"
                            },
                            "boxes": {
                              "type": "object",
                              "example": {
                                "1": 100,
                                "2": 1
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/employee/uploadPhoto": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Upload photo",
        "description": "Using this endpoint you can add/update the employee photo",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "description": "Employee id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "photo": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "photo": {
                  "contentType": "image/png, image/jpeg"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/UploadedFile"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/employee/removePhoto": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Remove photo",
        "description": "Using this endpoint you can remove the employee photo",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "description": "Employee id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "file_name"
                    ],
                    "properties": {
                      "file_name": {
                        "type": "string"
                      },
                      "provider": {
                        "type": "integer",
                        "description": "Employee Id",
                        "example": 2342
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": null
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/employee/updateOrder": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Update order number",
        "description": "Change the order in the list of employees",
        "security": [
          {
            "session_token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "id",
                        "ord"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 27864,
                          "description": "Employee id"
                        },
                        "ord": {
                          "type": "integer",
                          "example": 3,
                          "description": "The order number in the list"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseStatus"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "example": null
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/employee/checknickname/{nickname}": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Check nickname availability",
        "description": "Check nickname availability",
        "security": [
          {
            "session_token": []
          }
        ],
        "parameters": [
          {
            "name": "nickname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "statusCode": {
[...]
